<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>登录 Uniportal</title>

    <style>
        #password,
        #submit {
            margin-top: 5px;
        }
    </style>
</head>

<body>
<h3>登录 Uniportal</h3>
<form action="/api/uniportal/login" enctype="application/x-www-form-urlencoded" id="loginForm" method="post">
    姓名：<input id="name" name="name" placeholder="姓名" type="text" value="张三"><br>
    工号：<input id="number" name="number" placeholder="工号" type="text" value="00000001"><br>
    邮箱：<input id="email" name="email" placeholder="邮箱" type="text" value=""><br>
    密码：<input id="password" name="password" type="password" value="abc123"><br>
    <input id="redirect" name="redirect" style="display: none;" type="text" value="{{.redirect}}">
    <button id="submit" type="submit">登录</button>
</form>
<p>
    <a href="https://github.com/wanhuasong/honor-uniportal-mock" target="_blank">源代码</a>
    by <a href="https://github.com/wanhuasong" target="_blank">Noah</a>
</p>
</body>

</html>