<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uniportal Login Form</title>

    <style>
        #loginForm input {
            margin-top: 5px;
        }
    </style>
</head>

<body>
    <h3>Uniportal Login Form</h3>
    <form action="/api/uniportal/login" method="post" id="loginForm" enctype="application/x-www-form-urlencoded">
        <input type="text" name="email" id="email" value="wanhuasong@hihonor.com"><br>
        <input type="password" name="password" id="password" value="hihonor123"><br>
        <input type="text" name="redirect" id="redirect" value="{{.redirect}}" style="display: none;">
        <input type="submit">
    </form>
</body>

</html>